/* Variables */
$lightblue: #B7D9E1;
$darkblue: #2B6D85;
$green: #93BD59;
$red: #FF3030;

/* Fonts */
@import url("https://use.typekit.net/obn2knn.css");

/* GLOBAL */
*{
   margin:0;
   padding:0;
   box-sizing:border-box;
   font-family: museo-sans, sans-serif;
   font-weight: 500;
   font-style: normal;
}

body{
   background-color:$lightblue;
}

h1,h2,h3,h4{
   color:$darkblue;
}

.global-wrapper{
   width:100%;
   padding:0 50px;
   margin:0 auto;
}

.background{
   background-image: url(../img/tmp_bg.svg);
   width: 100%;
   height: 185px;
   background-size: 150%;
   background-repeat: no-repeat;
   background-position: 95%;
   position: fixed;
   top: 87%;
   z-index: -1;
}

.flex{
   display:flex;
}
.flex-a{
   display:flex;
   justify-content: space-around;
}
.flex-b{
   display:flex;
   justify-content: space-between;
}
.flex-c{
   display:flex;
   justify-content: center;
   align-items:center;
}
.d-inline{
   display:inline-block;
}
.text-center{
   text-align:center;
}
.text-left{
   text-align:left;
}
.mt-50{
   margin-top:50px;
   margin-bottom:13px;
}
.required{
   color:$red;
}
.line-height{
   line-height: 20px !important;
}
.pw-validator{
   color:$red;
   padding: 10px 0px 0px 3px;
}

/* Teh b0x */
.box{
   width:275px;
   padding:15px;
   margin:0 auto;
   background-color:white;
   border-radius:17px;
   -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.18); 
   box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.18);
}

.padding{
   padding:0px 15px;

   .padding-row{
      margin-top:16px;
   }
}

form{
   padding: 12px 0px;
   width:275px;

   input{
      font-family: open-sans;
      font-family: sans-serif;
   }

   input[type=text],input[type=password],input[type=email]{
      display:block;
      width:100%;
      height:33px;
      background-color:#E9E9E9;
      border-radius:8px;
      border:none;
      padding:13px 10px;
      margin-bottom:16px;

      &:focus{
         outline:none;
      }

      &::placeholder{
         color:#64A0BA;
         opacity:.6;
      }

      &:last-of-type{
         margin-bottom:0;
      }
   }

   button{
      width:100%;
      border-radius:8px;
      padding: 10px;
      text-align:center;
      border:none;
      color:white;
      font-size:16px;
      height: 33px;
      line-height: 0px;

      &:focus{
         outline:none;
      }

      &[type=submit]{
         background-color:$green;
      }
   }


   label{
      display:block;
      margin-left:4px;
      margin-bottom:6px;
      color:$darkblue;
   }

   .checkboxes{

      input[type=checkbox]{
         height:15px;
         width:15px;
         border:2px solid $darkblue;
      }

      label{
         line-height:14px;
      }
   }

   a{
      color:$darkblue;
   }

   hr{
      border:none;
      background:$darkblue;
      height:2px;
   }
}

.signup{
   background-color:$darkblue;
}

.fb_login{
   background-color:#385898;
}

/* HEADER */
header{

}
.login-header{
   padding-top: 25px;
}

/* LOG IND */
.logo-big{
   background-color:$darkblue;
   height:235px;
   width:235px;
   margin:0 auto;
   display:flex;
   justify-content: center;
   align-items:center;
   padding-top:25px;
   border-radius:50%;

   img{
      margin-top: -30px;
      width: 230px;
   }
}





/* Scanner Footer */
footer{
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 150px;
   z-index: 5;

   #footer-nav{
      background:blue;
      height:75px;
      display:flex;
      justify-content:space-between;

      nav{
         img{

         }
      }
   }
}
