/* Variables */
$lightblue: #b7d9e1;
$darkblue: #2b6d85;
$green: #93bd59;
$red: #ff3030;
$black: #444;
$lightblack: lighten($black, 25%);

/* Fonts */
@import url("https://use.typekit.net/vgl3lia.css");

/* GLOBAL */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: museo-sans, sans-serif;
   font-weight: 500;
   font-style: normal;

   &:focus {
      outline: none;
   }
}

button:focus,
input[type="submit"]:focus,
a:focus {
   outline: none;
}

body {
   background-color: $lightblue;
   color: $black;
}

h1,
h2,
h3,
h4 {
   color: $darkblue;
}

a {
   color: $darkblue;
}

p {
   font-family: open-sans, sans-serif !important;
   font-weight: 500;
   font-style: normal;
}

.sub-box {
   p{
      &:nth-of-type(1){
         font-family: museo-sans, sans-serif;
         font-weight: 500;
         font-style: normal;
      }
   }
}

.global-wrapper {
   width: 100%;
   overflow: hidden;
   /*padding:0 50px;*/
   margin: 75px auto 0 auto;
}
@media only screen and (max-width: 375px) {
   .global-wrapper {
      padding: 0;
   }
}

.overflow-show{
   overflow:visible !important;
}

.wrapper {
   padding: 0 15px;
}
@media only screen and (max-width: 320px) {
   .wrapper {
      padding: 0;
   }
}

.fixed {
   position: fixed;
   z-index: 999;
}

.warning {
   background-color: $red;
   padding: 6px;
   border-radius: 5px;
}

.background {
   background-image: url(../img/tmp_bg.svg);
   width: 100%;
   height: 185px;
   background-size: 150%;
   background-repeat: no-repeat;
   background-position: 95%;
   position: fixed;
   top: 87%;
   z-index: -1;
}

.flex {
   display: flex;
}
.flex-a {
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.flex-b {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.flex-c {
   display: flex;
   justify-content: center;
   align-items: center;
}
.d-inline {
   display: inline-block;
}
.d-none {
   display: none !important;
}
.text-center {
   text-align: center;
}
.text-left {
   text-align: left;
}
.mt {
   margin-top: 25px !important;
}
.mtb-15{
   margin: 15px 0;
}
.mt-50 {
   margin-top: 50px !important;
   margin-bottom: 13px !important;
}
.required {
   color: $red;
}
.line-height {
   line-height: 20px !important;
}
.pw-validator {
   color: $red;
   padding: 10px 0px 0px 3px;
}

/* Teh b0x */
.box {
   width: 275px;
   padding: 15px;
   margin: 0 auto;
   background-color: white;
   border-radius: 17px;
   -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.18);
   box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.18);
}

.padding {
   padding: 0px 15px;

   .padding-row {
      margin-top: 16px;
   }
}

form {
   padding: 12px 0px;
   width: 275px;

   input {
      font-family: open-sans;
      font-family: sans-serif;
   }

   textarea {
      display: block;
      width: 100%;
      resize: none;
      background-color: #e9e9e9;
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 13px 10px;
      margin-bottom: 16px;
   }

   input[type="text"],
   input[type="password"],
   input[type="email"] {
      display: block;
      width: 100%;
      height: 33px;
      background-color: #e9e9e9;
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 13px 10px;
      margin-bottom: 16px;

      &:focus {
         outline: none;
      }

      &::placeholder {
         color: #64a0ba;
         opacity: 0.6;
      }

      &:last-of-type {
         margin-bottom: 0;
      }
   }

   button {
      width: 100%;
      border-radius: 8px;
      padding: 10px;
      text-align: center;
      border: none;
      color: white;
      font-size: 16px;
      height: 33px;
      line-height: 0px;

      &:focus {
         outline: none;
      }

      &[type="submit"] {
         background-color: $green;
      }
   }

   label {
      display: block;
      margin-left: 4px;
      margin-bottom: 6px;
      color: $darkblue;
   }

   .checkboxes {
      input[type="checkbox"] {
         height: 15px;
         width: 15px;
         border: 2px solid $darkblue;
      }

      label {
         line-height: 14px;
      }
   }

   a {
      color: $darkblue;
   }

   hr {
      border: none;
      background: $darkblue;
      height: 2px;
   }
}

.password {
   -webkit-text-security: disc;
}

.signup {
   background-color: $darkblue;
}

.fb_login {
   background-color: #385898;
}

/* HEADER */
header {
   #nav-overlay {
      height: 100vh;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background-color: rgba(44, 44, 44, 0.8);
      animation: fade-in 250ms;
      z-index: 998;

      #main-nav {
         height: 100vh;
         width: 75%;
         position: fixed;
         left: 0;
         top: 0;
         background-color: #fff;
         animation: nav-slide-in 420ms;
         z-index: 999;

         /* nav-header */
         #nav-header {
            background-color: $darkblue;
            padding-top: 35px;
            height: 275px;
            width: 100%;
            padding: 35px 10px 10px 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
               margin-bottom: 3px;

               a{
                  text-decoration: none;
               }
            }

            div a {
               padding-left: 3px;
            }

            h2,
            a {
               color: #fff !important;
            }

            img {
               border-radius: 50%;
               height: 150px;
               width: 150px;
               display: block;
               margin: 0 auto;
            }
         } /* /nav-header */

         #nav-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: calc(100% - 275px);
            overflow-y: auto;

            /* nav-body */
            #nav-body {
               margin-top: 10px;
               ul {
                  li {
                     list-style-type: none;
                     height: 45px;
                     display: flex;
                     align-items: center;
                     position: relative;
                     margin-bottom: 10px;

                     a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        padding-left: calc(3.3em + 10px);
                        color: $black;
                        text-decoration: none;

                        &::after {
                           content: url(../img/arrow.svg);
                           width: 10px;
                           position: absolute;
                           right: 25px;
                        }
                     }

                     &:nth-of-type(1) {
                        a::before {
                           content: url(../img/statistik.svg);
                           position: absolute;
                           width: 26px;
                           top: 0.4em;
                           left: 1em;
                        }
                     }

                     &:nth-of-type(2) {
                        a::before {
                           content: url(../img/moenter.svg);
                           position: absolute;
                           width: 26px;
                           top: 0.55em;
                           left: 1em;
                        }
                     }

                     &:nth-of-type(3) {
                        a::before {
                           content: url(../img/historik.svg);
                           position: absolute;
                           width: 26px;
                           top: 0.55em;
                           left: 1em;
                        }
                     }

                     &:nth-of-type(4) {
                        a::before {
                           content: url(../img/hjaelp.svg);
                           position: absolute;
                           width: 26px;
                           top: 0.66em;
                           left: 1em;
                        }
                     }

                     &:nth-of-type(5) {
                        a::before {
                           content: url(../img/hvordan.svg);
                           position: absolute;
                           width: 26px;
                           top: 0.55em;
                           left: 1em;
                        }
                     }
                  }
               }
            } /* /nav-body */

            /* nav-footer */
            #nav-footer {
               width: 100%;
               padding-bottom: 20px;
               padding-left: 10px;
            }
         }
      }
   }
}
.login-header {
   padding-top: 25px;
}

/* Nav animations */
@keyframes nav-slide-in {
   from {
      left: -75%;
   }
   to {
      left: 0;
   }
}
@keyframes nav-slide-out {
   from {
      left: 0%;
   }
   to {
      left:
         -75%;
   }
}
@keyframes fade-in {
   from {
      background-color: rgba(44, 44, 44, 0);
   }
   to {
      background-color: rgba(44, 44, 44, 0.8);
   }
}
@keyframes fade-out {
   0% {
      background-color: rgba(44, 44, 44, 0.8);
   }
   90% {
      background-color: rgba(44, 44, 44, 0);
   }
   100%{
      display:none;
   }
}

/* LOG IND */
.logo-big {
   background-color: $darkblue;
   height: 235px;
   width: 235px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 25px;
   border-radius: 50%;

   img {
      margin-top: -30px;
      width: 230px;
   }
}

/* Sub pages */
.row {
   display: block;
   width: 275px;
   margin: 0 auto 20px auto;

   .label {
      color: #2b6d85;
      font-size: 18px;
      margin-left: 3px;
      margin-bottom: 8px;
   }
}

.logoff-row {
   margin: 25px auto 0 auto;
}

.sub-header {
   width: 100%;
   height: 50px;
   background-color: #2b6d85;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 10px;
   position: fixed;
   top: 0;
   transition: top 250ms ease-in-out;
   z-index: 999999;

   .back {
      background: url("../img/tilbage_pil.svg");
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 95%;
      height: 33px;
      width: 33px;
   }

   h1 {
      color: #fff;
      font-size: 30px;
   }

   .spooky-ghost {
      height: 30px;
      width: 30px;
   }
}

#helpOverlay {
   display: none;

   position: absolute;
   background-color: rgba(68, 68, 68, 0.75);

   width: 100%;
   height: 100vh;
   top: 0;
   left: 0;

   z-index: 9999999;

   .circle {
      position: relative;
      background-color: white;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 35px auto 35px auto;
      display: flex;
      justify-content: center;
   }

   .circle img {
      position: relative;
      width: 80px;
      height: auto;
   }

   .overlay_rapporter_box {
      background-color: white;
      position: absolute;
      top: 200px;
      height: 200px;

      p {
         color: #2b6d85;
         margin: 25px;
         font-size: 25px;
         text-align: center;
      }

      .overlay_rapporter_btn {
         background-color: #93bd59;
         position: absolute;
         align-content: center;
         width: 325px;
         height: 33px;
         margin: 25px;
         bottom: 0px;
         color: white;
         border: none;
         border-radius: 8px;
         font-size: 16px;
      }
   }
}

.rank-img {
   border-radius: 50%;
   height: 150px;
   width: 150px;
   display: block;
   margin: 0 auto 6px auto;
}

.rank-label {
   color: $darkblue;
   font-size: 16px;
}

.rank {
   font-size: 20px;
}

.rank-exp {
   table {
      margin: 13px 0;
      background-color: #e9e9e9;
      padding: 5px;
      border-radius: 8px;
      width: 100%;

      tr {
         th {
            text-align: left;
            color: $darkblue;
            font-weight: bold;
         }

         td {
            &:last-of-type {
               text-align: right;
            }

            &:first-of-type {
               text-align: left;
            }
         }
      }
   }
}

.sub-box, .sub-box-big {
   background-color: #fff;
   border-radius: 17px;
   max-height: 50px;
   padding: 0 13px;
   font-size: 17px;
   overflow: hidden;
   transition: max-height 420ms ease-in-out;

   .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;

      p {
         transition: color 250ms ease-in-out;
      }
   }

   .expand {
      background-image: url("../img/arrow.svg");
      background-size: 100%;
      background-position: 50%;
      background-repeat: no-repeat;
      width: 10px;
      height: 100%;
      transition: transform 250ms ease-in-out;
   }

   .collapsible {
      display: block;
      transition: max-height 420ms ease-in-out;

      .collapse-wrapper {
         padding: 8px 0 13px 0;
      }

      form {
         width: auto;

         .flex-b {
            margin-top: 20px;
            align-items: center;
         }

         button {
            width: 90px;
         }
      }

      ol {
         padding: 10px 0 13px 0;
         counter-reset: faq;
         li {
            list-style-type: none;

            a {
               font-size: 16px;
               color: $darkblue;
               text-decoration: underline;

               &::before {
                  counter-increment: faq;
                  content: counter(faq) ". ";
               }
            }
         }
      }
   }
}

.sub-box-big {
   max-height: 70px;
   padding-top: 10px; }

.open .rotate {
   transform: rotate(90deg);
}

.open .flex p {
   color: $lightblack;
   transition: color 250ms ease-in-out;
}

/* ## Profile ## */

a.button {
   /*   -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;*/
   text-decoration: none;
   color: initial;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logoff {
   width: 275px;
   border-radius: 8px;
   padding: 10px;
   border: none;
   color: white;
   font-size: 16px;
   height: 33px;
   line-height: 0px;
   background-color: $darkblue;
}

/* ## Wallet ## */



.or-text {
   color: $lightblack;
}

.wide-button {
   width: 100%;
   border-radius: 8px;
   padding: 10px;
   text-align: center;
   border: none;
   color: white;
   background-color: $green;
   font-size: 16px;
   height: 33px;
   line-height: 0px;
   margin-top: 5px;
   margin-bottom: 15px;

   &:focus {
      outline: none;
   }
}

.wallet-img{
   height: 200px;
   width: 200px;
   display: block;
   margin: 0 auto 6px auto;
   padding-left: 30px;
}

#wallet{
   .row{
      &:nth-of-type(4){
         .sub-box{
            .collapsible{
               .or-text {
                  padding-bottom: 15px;
               }
            }
         }
      }
   }
   .row{
      &:nth-of-type(5){
         .sub-box{
            .collapsible{
               .wide-button{
                  background-color: $darkblue !important;
               }
               .or-text {
                  padding-top:10px;
                  padding-bottom: 2px;
               }
            }
         }
      }
   }
}


/* ## Stats ## */
#stat-carousel {
   width: 100%;
   padding-top: 10px;

   .stat {
      .stat-item {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: row;
         position: relative;
         background-color: #fff;
         height: 200px;
         width: 200px;
         border-radius: 50%;
         margin: 0 auto;
         transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
         transform: scale(0.8);
         opacity: 0.5;

         img {
            width: 75%;
         }

         .stat-track {
            opacity: 0;
            position: absolute;
            bottom: -65px;
            text-align: center;
            transition: opacity 250ms ease-in-out;

            .stat-track-header {
               color: $darkblue;
               font-size: 16px;
            }

            .stat-result {
               font-size: 25px;
            }
         }
      }
   }

   .slick-current {
      .stat-item {
         transform: scale(1);
         opacity: 1;

         .stat-track {
            opacity: 1;
         }
      }
   }

   .slick-list {
      overflow: visible;
   }
}

#stat-carousel-arrows {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 0 3em;
   height: 50px;
   z-index: 99999;

   .slick-arrow {
      z-index: 99999;
   }
}

.carousel-btn {
   background: url(../img/tilbage_pil.svg);
   background-position: 50%;
   background-repeat: no-repeat;
   background-size: 100%;
   height: 40px;
   width: 40px;
}

.carousel-next {
   transform: rotate(180deg);
}

/* ## How ## */
#how{
   position:relative;

   #how-carousel {
      width: 100%;
      height:75vh;

      padding-top: 10px;

      .how {
         .how-item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            background-color: #fff;
            height: 300px;
            width: 300px;
            border-radius: 50%;
            margin: 0 auto;
            transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
            transform: scale(0.8);
            overflow: hidden;
            opacity: 0.5;

            .how-img {
               width: 75%;
               height:100%
            }

            .how-text{
               position: absolute;
               /*bottom: -36vh;*/
               text-align:center;

               h1{
                  color:$darkblue;
                  margin: 0 0 15px 0;
               }
            }
         }
      }

      .slick-current {
         .how-item {
            transform: scale(1);
            opacity: 1;

            .how-track {
               opacity: 1;
            }
         }
      }

      /*        .slick-list{
                  height: 75vh;
              }*/

   }

   #how-text-box{
      text-align:center;
      background-color: #fff;
      display: block;
      width: 100vw;
      height:165px;
      position: absolute;
      bottom: 6vh;
      padding: 15px;
      z-index:-1;
      
      h1{
         margin: 5px 0 10px 0;
      }
   }

   #how-carousel-arrows {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 3em;
      height: 50px;
      z-index: 99999;

      .slick-arrow {
         z-index: 99999;
      }
   }

   #how-carousel-dots {
      position: relative;
      top: -28vh;
      ul{

         li.slick-active button{
            background-color: $darkblue;
         }
      }

   }

   .slick-dots{
      display:flex;
      justify-content: space-around;
      width:50px;
      list-style-type: none;
      margin: 0 auto;
   }

   .slick-dots li button {
      background-color:white;
      text-indent: -9999px;
      overflow: hidden;
      width: 20px;
      height: 20px;
      border-radius:50%;
      outline: none;
      border: none;
      margin: 0 5px;
   }


   .wide-button{
      width: 245px;
      display: block;
      margin: 0 auto;
      position: relative;
      top: -23px;
   }
}

.invisible{
   display: none !important;
}

.how-img{

}

// iPhone X
@media screen and (max-height: 812px) {
   #how{
      #how-carousel-dots{
         top: -36vh;
      }
      #how-text-box{
         bottom: 17vh;
      }
      .how-text{
         bottom: -25vh;
      }
      .wide-button{
         top: -15vh;
      }
   }

}

// iPhone 6/7/8 Plus
@media screen and (max-height: 736px) {
   #how{
      #how-carousel-dots{
         top: -31vh;
      }
      #how-text-box{
         bottom: 10vh;
      }
      .how-text{
         bottom: -29vh;
      }
      .wide-button{
         top: -57px;
      }
   }
}

// iPhone 6/7/8
@media screen and (max-height: 667px) {
   #how{
      #how-carousel-dots{
         top: -29vh;
      }
      #how-text-box{
         bottom: 5vh;
      }
      .how-text{
         bottom: -30vh;
      }
      .wide-button{
         top: -17px;
      }
   }
}

/* ### History ### */

#history {
   padding: 0 35px;

   .year {
      color: $darkblue;
      font-size: 20px;
      padding: 25px 0 10px 15px;
   }

   .history-item {
      background-color: #fff;
      overflow: hidden;
      padding: 15px;
      border-radius: 17px;
      position: relative;
      max-height: 65px;
      margin-bottom: 15px;
      transition: max-height 420ms ease-in-out;
      filter: drop-shadow(0px 1px 1.5px #444);

      .flex-b {
         width: 100%;
         align-items: center;
      }

      h1 {
         color: $black;
         font-size: 20px;
      }

      p {
         color: $black;
         font-size: 10px;
      }

      span {
         margin-right: 18px;
      }

      .expand {
         content: url("../img/arrow.svg");
         position: absolute;
         width: 10px;
         top: 27px;
         right: 10px;
         transition: transform 250ms ease-in-out;
      }

      .collapsible {
         padding-bottom: 20px;
         margin-top: 20px;

         table {
            width: 100%;

            td {
               height: 35px;

               &:last-of-type {
                  text-align: right;
               }
            }
         }

         button {
            width: 100%;
            border-radius: 8px;
            padding: 10px;
            text-align: center;
            border: none;
            color: white;
            font-size: 16px;
            height: 33px;
            line-height: 0px;
            background: $green;
            margin-top: 5px;

            &:focus {
               outline: none;
            }
         }
      }
   }
}

/* Footer */
footer {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: 5;

   #footer-menu {
      background: transparent;
      height: 100%;
      padding: 0 20px 20px 20px;
      display: flex;
      justify-content: space-between;
   }
}

.footer-btn {
   height: 55px;
   width: 55px;
   border-radius: 50%;
   background-color: #fff;
}

@media only screen and (max-width: 320px) {
   .footer-btn {
      height: 50px;
      width: 50px;
   }
}

.nav-toggle {
   background-image: url(../img/menu-waves.svg);
   background-repeat: no-repeat;
   background-size: 60%;
   background-position: 50%;
}

.how-toggle {
   background-image: url(../img/hvordan.svg);
   background-repeat: no-repeat;
   background-size: 60%;
   background-position: 50%;
}


//timer page
#started_time{
display: none;
}

#tid_sejlet{
  text-align: center;
  color: $darkblue;
  font-size: 20px;
  font-weight: bold;
}

#trip_timer{
  font-size: 75px;
  color: $darkblue;
  text-align: center;
  font-weight: bolder;
}

#nyd_turen{
  color: #707070;
  text-align: center;
  font-weight: bold;
  opacity: 0.5;
  margin-top: 120px;
}

//baggrund til alle sider
.bg_temp img{
  position: fixed;
  width: 100%;
  z-index: -5;
  bottom: 0;
}

//pop_ud_how (hvordan fortøjer jeg?)
.fortoej_img{
  width: 50%;
  padding: 5%;
}

.how_pop_tekst{
 
}
/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
   select,
   textarea,
   input[type="text"],
   input[type="password"],
   input[type="datetime"],
   input[type="datetime-local"],
   input[type="date"],
   input[type="month"],
   input[type="time"],
   input[type="week"],
   input[type="number"],
   input[type="email"],
   input[type="url"] {
      font-size: 16px;
   }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
   select,
   textarea,
   input[type="text"],
   input[type="password"],
   input[type="datetime"],
   input[type="datetime-local"],
   input[type="date"],
   input[type="month"],
   input[type="time"],
   input[type="week"],
   input[type="number"],
   input[type="email"],
   input[type="url"] {
      font-size: 16px;
   }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
   select,
   textarea,
   input[type="text"],
   input[type="password"],
   input[type="datetime"],
   input[type="datetime-local"],
   input[type="date"],
   input[type="month"],
   input[type="time"],
   input[type="week"],
   input[type="number"],
   input[type="email"],
   input[type="tel"],
   input[type="url"] {
      font-size: 16px;
   }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
   select,
   textarea,
   input[type="text"],
   input[type="password"],
   input[type="datetime"],
   input[type="datetime-local"],
   input[type="date"],
   input[type="month"],
   input[type="time"],
   input[type="week"],
   input[type="number"],
   input[type="email"],
   input[type="tel"],
   input[type="url"] {
      font-size: 16px;
   }
}
