/* Variables */
/* Fonts */
@import url("https://use.typekit.net/obn2knn.css");
/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: museo-sans, sans-serif;
  font-weight: 500;
  font-style: normal; }

body {
  background-color: #B7D9E1; }

h1, h2, h3, h4 {
  color: #2B6D85; }

.global-wrapper {
  width: 100%;
  padding: 0 50px;
  margin: 0 auto; }

@media only screen and (max-width: 375px) {
  .global-wrapper {
    padding: 0; } }
.background {
  background-image: url(../img/tmp_bg.svg);
  width: 100%;
  height: 185px;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: 95%;
  position: fixed;
  top: 87%;
  z-index: -1; }

.flex {
  display: flex; }

.flex-a {
  display: flex;
  justify-content: space-around; }

.flex-b {
  display: flex;
  justify-content: space-between; }

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center; }

.d-inline {
  display: inline-block; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.mt-50 {
  margin-top: 50px;
  margin-bottom: 13px; }

.required {
  color: #FF3030; }

.line-height {
  line-height: 20px !important; }

.pw-validator {
  color: #FF3030;
  padding: 10px 0px 0px 3px; }

/* Teh b0x */
.box {
  width: 275px;
  padding: 15px;
  margin: 0 auto;
  background-color: white;
  border-radius: 17px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.18); }

.padding {
  padding: 0px 15px; }
  .padding .padding-row {
    margin-top: 16px; }

form {
  padding: 12px 0px;
  width: 275px; }
  form input {
    font-family: open-sans;
    font-family: sans-serif; }
  form input[type=text], form input[type=password], form input[type=email] {
    display: block;
    width: 100%;
    height: 33px;
    background-color: #E9E9E9;
    border-radius: 8px;
    border: none;
    padding: 13px 10px;
    margin-bottom: 16px; }
    form input[type=text]:focus, form input[type=password]:focus, form input[type=email]:focus {
      outline: none; }
    form input[type=text]::placeholder, form input[type=password]::placeholder, form input[type=email]::placeholder {
      color: #64A0BA;
      opacity: .6; }
    form input[type=text]:last-of-type, form input[type=password]:last-of-type, form input[type=email]:last-of-type {
      margin-bottom: 0; }
  form button {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    border: none;
    color: white;
    font-size: 16px;
    height: 33px;
    line-height: 0px; }
    form button:focus {
      outline: none; }
    form button[type=submit] {
      background-color: #93BD59; }
  form label {
    display: block;
    margin-left: 4px;
    margin-bottom: 6px;
    color: #2B6D85; }
  form .checkboxes input[type=checkbox] {
    height: 15px;
    width: 15px;
    border: 2px solid #2B6D85; }
  form .checkboxes label {
    line-height: 14px; }
  form a {
    color: #2B6D85; }
  form hr {
    border: none;
    background: #2B6D85;
    height: 2px; }

.signup {
  background-color: #2B6D85; }

.fb_login {
  background-color: #385898; }

/* HEADER */
.login-header {
  padding-top: 25px; }

/* LOG IND */
.logo-big {
  background-color: #2B6D85;
  height: 235px;
  width: 235px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  border-radius: 50%; }
  .logo-big img {
    margin-top: -30px;
    width: 230px; }

/* Scanner Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5; }
  footer #footer-menu {
    background: transparent;
    height: 100%;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: space-between; }

.nav-toggle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(../img/menu-waves.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50%; }

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2 / 3) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"] {
    font-size: 16px; } }
/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40 / 71) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"] {
    font-size: 16px; } }
/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375 / 667) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="tel"], input[type="url"] {
    font-size: 16px; } }
/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9 / 16) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="tel"], input[type="url"] {
    font-size: 16px; } }

/*# sourceMappingURL=main.css.map */
